
.read-card h1
{ 
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.375;
    margin-top: 1.35rem;
    margin-bottom: 2.25rem;
    display: inline-block;
}


.read-card h2
{ 
    font-size:  1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 1.08rem;
    margin-bottom: 1.8rem;
    display: inline-block;
}

.read-card h3
{ 
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0.84rem;
    margin-bottom: 1.4rem;
    display: inline-block;
}

.read-card img
{ 
   width: 100%;
   margin-bottom: 1.8rem;
}

.read-card a
{
    text-decoration: underline;
    border: none !important;
    outline: none !important;
}