@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

@layer utilities {
    html {
        font-size: 14px;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }

    .max-w-screen-xs {
        max-width: 380px;
    }

    @keyframes spin {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    input:disabled {
        background-color: inherit !important;
    }

    .spinner {
        display: inline-block;
        animation: spin 2s linear infinite;
    }

    .flip-v {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .flip-h {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .text-2xs {
        font-size: 0.65rem;
        line-height: 1rem;
    }

    .max-w-2xs {
        max-width: 15rem;
    }

    @-webkit-keyframes autofill {

        0%, 100% {
            color: inherit !important;
            background: transparent !important;
        }
    }

    input:-webkit-autofill {
        -webkit-animation-delay: 1s;
        /* Safari support - any positive time runs instantly */
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    }
}